@import './variables.scss';

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    
    .formWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 60px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0px 4px 30px rgba(0,0,0,0.1);

        h2 {
            color: $authColor;
            font-size: 24px;
            font-weight: bold;
            padding: 20px 0;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                color: #fff;
                width: 300px;  
                padding:15px;
                letter-spacing: 1px;
                background-color: rgba(255, 255, 255, 0.2);
                border-bottom: 3px solid $authColor;
                border-radius: 5px;
    
                &::placeholder {
                    color: #fff;
                    opacity: 0.5;
                }
            }

            button {
                color: white;
                font-weight: bold;
                padding: 15px;
                border-radius: 5px;
                background-color: $authButtonColor;
                cursor: pointer;
            }
        }

        p {
            color: $authColor;
            font-size: 15px;
            margin-top: 10px;
    
            a {
                color: darken($authColor, 15);
                font-weight: bold;
            }
        }
    }

    .wrapper {
        display: flex;
        width: 65%;
        height: 80%;

        .sideBar {
            flex: 2; 
            display: flex;
            flex-direction: column;
            gap: 15px;
            color: #fff;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);

            .img {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 50px 0;

                img {
                    height: 100px;
                    width: 100px;
                    border: 3px solid #fff;
                    border-radius: 50%;
                }

                span {
                    margin-top: 20px;
                }
            }

            ul {
                flex: 1;

                li {
                    display: flex;
                    padding: 10px;
                    text-align: center;
                    line-height: 25px;
                    font-size: 18px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    cursor: pointer;
                    transition: all 0.15s ease-in-out;

                    &:hover {
                        color: $colorPurple;
                        transform: translateY(-3px);
                    }

                    svg {
                        margin-right: 10px;
                    }
                }
            }

            button {
                display: flex;
                align-items: center;    
                justify-content: flex-start;
                color: #fff;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 1px;
                background: none;
                padding: 15px;
                cursor: pointer;
                transition: all 0.15s ease-in-out;

                &:hover {
                    color: $colorPurple;
                    transform: translateY(-3px);
                }

                svg {
                    margin-right: 10px;
                }
            }
        }

        .chatBar {
            flex: 2.5; 
            border: 1px solid #fff;
        }

        .chatWrapper {
            flex: 5; 
            border: 1px solid #fff;
        }
    }
}
