@import './variables.scss';

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    
    .formWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 60px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0px 4px 30px rgba(0,0,0,0.1);

        h2 {
            color: $authColor;
            font-size: 24px;
            font-weight: bold;
            padding: 20px 0;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                color: #fff;
                width: 300px;  
                padding:15px;
                letter-spacing: 1px;
                background-color: rgba(255, 255, 255, 0.2);
                border-bottom: 3px solid $authColor;
                border-radius: 5px;
    
                &::placeholder {
                    color: #fff;
                    opacity: 0.5;
                }
            }

            button {
                color: white;
                font-weight: bold;
                padding: 15px;
                border-radius: 5px;
                background-color: $authButtonColor;
                cursor: pointer;
            }
        }

        p {
            color: $authColor;
            font-size: 15px;
            margin-top: 10px;
    
            a {
                color: darken($authColor, 15);
                font-weight: bold;
            }
        }
    }

    .wrapper {
        display: flex;
        width: 65%;
        height: 80%;

        .sideBar,
        .openSideBar {
            display: flex;
            flex-direction: column;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            overflow: hidden;

            ul {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 20px;

                li {
                    display: flex;
                    align-items: center
                }
            }
        }

        .img {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px 0;
    
            img {
                height: 80px;
                width: 80px;
                border: 3px solid #fff;
                border-radius: 50%;
            }
    
            span {
                margin-top: 20px;
            }
        }

        svg {
            color: #fff;
            height: 30px;
            width: 30px;
            margin-right: 13px;
            cursor: pointer;
        }

        span {
            color: #fff;
            font-size: 18px;
            letter-spacing: 1px;
            line-height: 25px;
        }

        li:hover, button:hover {
            svg, span {
                color: $colorPurple;
                cursor: pointer;
            }
        }

        button {
            display: flex;
            align-items: center;
            background: none;
        }

        .sideBar {
            width: 55px;
            padding-left: 12px;

            ul {padding-top: 15px;}

            .img {display: none;}
        }

        .openSideBar {
            flex: 1.5;

            ul {
                padding: 30px 0 0 10px;
            }

            button {
                padding: 0 0 10px 10px;
            }
        }

        .chatBar {
            flex: 2.5; 
            color:white;
            padding: 10px 10px 0 10px;
            background-color: $colorGrey;
            overflow: scroll;

            .menu {
                display: flex;
                align-items: center;
                padding-top: 30px;
                gap: 10px;

                h2 {
                    color: #fff;
                    font-size: 30px;
                }

                svg {
                    height: 40px;
                    width: 40px;
                    color: #fff;

                    &:hover {
                        color: $colorPurple;
                    }
                }
            }
            .chatBarWrapper {
                display: flex;
                flex-direction: column;
                margin-top: 30px;

                .inputWrapper {
                    display: flex;
                    align-items: center;
                    padding:10px;
                    margin-bottom: 30px;
                    box-shadow: 5px 5px 20px darken($colorGrey, 15);

                    input {
                        height: 100%;
                        width: 100%;
                        color: #fff;
                        font-size: 16px;
                        letter-spacing: 1px;
                        background: none;

                        &::placeholder {
                            color: #fff;
                            font-size: 16px;
                        }
                    }
                }

                .chatItem {
                    display: flex;
                    align-items: center;
                    padding: 10px 0 10px 10px;
                    cursor: pointer;

                    img {
                        height: 40px;
                        width: 40px;
                        margin-right: 20px;
                        border-radius: 50%;
                        border: 2px solid #fff;
                    }

                    .text {
                        display: flex;
                        flex-direction: column;

                        span {
                            white-space:nowrap;
                            overflow:hidden;
                        }
                    }

                    &:hover {
                        background-color: lighten($colorGrey, 5);
                    }
                }
            }
        }

        .chatWrapper {
            flex: 5; 
            border: 1px solid #fff;
        }
    }
}
